<nav class="navbar navbar-default">
  <div class="container" style="border:2px solid #E7E7E7; background-color:#585858;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:white; transition: all .2s ease-in-out;" onMouseOver="this.style.transform ='scale(1.1)'"
			onMouseOut="this.style.transform ='scale(1.0)'">
        View Users
      </a>
	  <a class="navbar-brand" href="/user/create" style="color:white; transition: all .2s ease-in-out;" onMouseOver="this.style.transform ='scale(1.1)'"
			onMouseOut="this.style.transform ='scale(1.0)'">
        Create User
      </a>
    </div>
  </div>
</nav>